body {
    background: linear-gradient(0.25turn,#fde170, #81bbdf);
    background-size:cover;
    background-repeat: repeat;
    font-size: 1.3em;
}
h1 {
    margin-left: 22%;
}
a {
    text-decoration: none;
}

/******************************************************************************
                                Home button
******************************************************************************/
.home {
    position: fixed;
    top: 1%;
    left: 1%;
}

/******************************************************************************
                            Layout of the trophies
******************************************************************************/
main {
    display: flex;
}
.aside {
    text-align: center;
    background-color: ivory;
    border: 5px solid gold;
    border-radius: 15px;
    display: inline-block;
    width: 20%;
    height: fit-content;
    margin-bottom: auto;
    margin-top: auto;
    padding: 5px;
}
.choice {
    background: linear-gradient(#81bbdf, #fde170);
 
    border: 15px solid goldenrod;
    border-radius: 25px;
    display: flex;
    height: 500px;
    margin-bottom: 1%;
    margin-left: 22%;
    margin-right: 1%;
    margin-top: 1%;
    position: absolute;
    width: 1100px;
}
.link {
    background-color: #f4f0d8;
    border: 15px solid yellow;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 1.1em;
    position: relative;
    justify-content: space-between;
    margin: auto;
    padding: 7%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.cv {
    background-image: url("../img/cv/cv_mini.png");
}
.game {
    background-image: url("../img/NATURE_PARALLAX_BG/PNG/parallaxPerso/bgPersoFull.png");
    color: ivory;
    font-size: 3.6em;
}
.game > a {
    color: ivory;
}

.linkedin {
    padding: 0;
}
.linkedin > img {
    margin: 0;
    padding: 0;
}