body {
    background-color: slategrey;
}
footer {
    display: inline-flex;
    right: 5%;
}
main {
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url(../img/NATURE_PARALLAX_BG/bgPerso3.png);
    background-size: cover;
    border: 15px solid rgb(185, 173, 0);
    border-radius: 25px;
    height: 500px;
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    height: 145px;
    left: 350px;
    overflow: hidden;
    position: absolute;
    top: 450px;
    width: 80px;
}
.container .content {
    left: 0px;
    position: absolute;
    top: 0px;
}