#alertIntro1, #alertIntro2, #alertIntro3 {
    align-items: center;
    background: linear-gradient(0.25turn, #81bbdf, #fde170);
    border: 0px solid #aaa;
    border-radius: 30px;
    box-sizing: border-box;
    display: none;
    height: fit-content;
    left: 45%;
    padding: 25px;
    position: fixed;
    top: 23%; 
    width: fit-content;
    z-index: 5;
}
