body {
    background-color: slategrey;
}
/******************************************************************************
                                The game box 
******************************************************************************/
main {
    display: flex;
}
#commandeList {
    background-color: rgba(255, 255, 240, 0.712);
    border: 5px solid gold;
    border-radius: 15px;
    display: inline-block;
    width: 20%;
    height: fit-content;
    margin-bottom: auto;
    margin-top: auto;
}
#gameField {
    background-image: url(../img/NATURE_PARALLAX_BG/bgPerso3.png);
    background-size: cover;
    border: 15px solid goldenrod;
    border-radius: 25px;
    display: inline-block;
    height: 500px;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    width: 1100px;
}
/******************************************************************************
                                The main character
******************************************************************************/
.container {
    height: 145px;
    left: 250px;
    overflow: hidden;
    position: absolute;
    top: 400px;
    width: 80px;
}
.container .content {
    left: 0px;
    position: absolute;
    top: 0px;
}
/******************************************************************************
                            The enemies
******************************************************************************/
