/******************************************************************************
        Summary :
                - Font
                - Background and font-style
                - Home button
                - Presentation section
                - Choice section
                - Responsive
*******************************************************************************/


/******************************************************************************
                                    Font
******************************************************************************/
/* alegreya-regular - latin */
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    src: url('../../vendors/fonts/alegreya-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../../vendors/fonts/alegreya-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../vendors/fonts/alegreya-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../../vendors/fonts/alegreya-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../../vendors/fonts/alegreya-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../../vendors/fonts/alegreya-v19-latin-regular.svg#Alegreya') format('svg'); /* Legacy iOS */
}
/* alegreya-800 - latin */
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 800;
    src: url('../../vendors/fonts/alegreya-v19-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../../vendors/fonts/alegreya-v19-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../vendors/fonts/alegreya-v19-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
        url('../../vendors/fonts/alegreya-v19-latin-800.woff') format('woff'), /* Modern Browsers */
        url('../../vendors/fonts/alegreya-v19-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../../vendors/fonts/alegreya-v19-latin-800.svg#Alegreya') format('svg'); /* Legacy iOS */
}

/******************************************************************************
                            Background and font-style
******************************************************************************/
body {
    background: linear-gradient(0.25turn,#fde170, #81bbdf);
    background-size:cover;
    background-repeat: repeat;
    font-family: "Alegreya";
    font-size: 1.3em;
    font-weight: 400;
}
a {
    text-decoration: none;
}
p > a {
    font-weight: bolder;
}
h1 {
    font-weight: 800;
    margin-left: 22%;
}

/******************************************************************************
                                Home button
******************************************************************************/
.home {
    left: 1%;
    position: fixed;
    top: 1%;
}

/******************************************************************************
                            Presentation section
******************************************************************************/
main {
    display: flex;
}
.presentation {    
    font-size: 0.8em;
    background-color: #f4f0d8;
    border: 5px solid gold;
    border-radius: 15px;
    display: inline-block;
    height: fit-content;
    margin-bottom: auto;
    margin-top: auto;
    padding: 5px;
    text-align: center;
    width: 20%;
}
/******************************************************************************
                                Choice section
******************************************************************************/
.choice {
    background: linear-gradient(#81bbdf, #fde170); 
    border: 15px solid goldenrod;
    border-radius: 25px;
    display: flex;
    height: 500px;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    position: relative;
    width: 1100px;
}
.link {
    background-color: #f4f0d8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 15px solid yellow;
    border-radius: 15px;
    display: flex;
    font-size: 1.1em;
    font-weight: bolder;
    justify-content: space-between;
    margin: auto;
    padding: 7%;
    position: relative;
}
.cv {
    background-image: url("../img/cv/cv_mini.png");
}
.game {
    background-image: url("../img/NATURE_PARALLAX_BG/PNG/parallaxPerso/bgPersoFull.png");
    color: ivory;
    font-size: 3.6em;
}
.game > a {
    color: ivory;
}

.linkedin {
    padding: 0;
}
.linkedin > img {
    margin: 0;
    padding: 0;
}

/******************************************************************************
                                    Responsive
******************************************************************************/
@media all and (max-width: 1024px) {
    body {
        display: inline-block;
    }
    .choice {
        margin-left: 25%;
        display: grid;
        width: fit-content;
        height: fit-content;
        margin: auto;
        margin-left: 15%;
    }
    .presentation {    
        width: 35%;
    }
}

@media all and (max-width: 768px) {
    .choice {
        margin-left: 5%;    
    }
}