body {
    background-color: slategrey;
}
/******************************************************************************
                                The game box 
******************************************************************************/
main {
    display: flex;
}
#commandeList {
    background-color: rgba(255, 255, 240, 0.712);
    border: 5px solid gold;
    border-radius: 15px;
    display: inline-block;
    width: 20%;
    height: fit-content;
    margin-bottom: auto;
    margin-top: auto;
}
#gameField {
    /**************************************************************************
                            The parallax background
    **************************************************************************/
    background-image: url("../img/NATURE_PARALLAX_BG/PNG/parallaxPerso/parallaxPersoPlan1_PixelArt.png"),
      url("../img/NATURE_PARALLAX_BG/PNG/parallaxPerso/parallaxPersoPlan2_PixelArt.png"),
      url("../img/NATURE_PARALLAX_BG/PNG/parallaxPerso/parallaxPersoPlan3_PixelArt.png"), 
      url("../img/NATURE_PARALLAX_BG/PNG/parallaxPerso/parallaxPersoPlan4.png");
    background-position-x:15px, 150px, 25px, 15px;
    background-size: cover;
    border: 15px solid goldenrod;
    border-radius: 25px;
    display: inline-block;
    height: 500px;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    position: relative;
    width: 1100px;
}
/******************************************************************************
                                The main character
******************************************************************************/
.container {
    height: 145px;
    left: 25px;
    overflow: hidden;
    position: absolute;
    top: 300px;
    width: 80px;
    opacity: 1;
    z-index: 2;
}
.container .content {
    left: 0px;
    position: absolute;
    top: 0px;
}

/* Class which contain the after death action from opacity 1 to 0 */
.deadCharacter {
    opacity: 0;
    transition: opacity 0.7s ;
}

/******************************************************************************
                            The enemies
******************************************************************************/
.enemyContainer {    
    overflow: hidden;
    position: absolute;
    top: 250px;
    z-index: 2;
}
.deadEnemy {
    opacity: 0;
    transition: opacity 0.7s ;
}