#alertIntro1, #alertIntro2, #alertIntro3 {
    align-items: center;
    background: linear-gradient(0.25turn, #81bbdf, #fde170);
    border: 0px solid #aaa;
    border-radius: 30px;
    box-sizing: border-box;
    display: none;
    height: fit-content;
    left: 48%;
    padding: 25px;
    position: fixed;
    top: 35%; 
    width: fit-content;
    z-index: 5;
}

#alertIntro1:hover, #alertIntro2:hover, #alertIntro3:hover {
    left: 40%;
    top: 15%;
}
#alertIntro1:hover {
    content: url('../img/CustomAlerts/CustomAlertIntro1.png');
}
#alertIntro2:hover {
    content: url('../img/CustomAlerts/CustomAlertIntro2.png');
}
#alertIntro3:hover {
    content: url('../img/CustomAlerts/CustomAlertIntro3.png');
}